@using NonFactors.Mvc.Grid
@using Requerimientos.Models.ViewModels
@model IEnumerable<InventarioViewModel>

@{
    ViewData["Title"] = "Productos";
    var controller = (string)ViewContext.RouteData.Values["controller"]!;
}

<h1 class="h1" style="font-size: 1.5rem;">@ViewData["Title"]</h1>

@* Seleccionar pestaña *@
@await Html.PartialAsync("_Tabs")

<div class="col-12">
    <a asp-controller="@controller" asp-action="Create" class="btn btn-primary">
        <i class="bi bi-plus-lg"></i>
        Nuevo producto
    </a>
</div>

<div class="tabla-ui pt-4">
    @(
        Html.Grid(Model)
        .Build(columns =>
        {
            columns.Add(p => p.Codigo).Titled("Código");
            columns.Add(p => p.Producto).Titled("Producto");
            @* columns.Add(p => p.Categoria).Titled("Categoría"); *@
            @* columns.Add(p => p.Concatenar).Titled("Concatenar"); *@
            columns.Add(p => p.Almacen).Titled("Almacén");
            columns.Add(p => p.Unidad).Titled("Unidad");

            columns.Add(p => p.Status).Titled("Status");
            columns.Add(p => p.StockMinimo).Titled("Stock mín.").Formatted("{0:0.###}");
            columns.Add(p => p.ExistenciaActual).Titled("Existencia actual").Formatted("{0:0.###}");

            columns.Add(p => p.Proviene).Titled("Proviene");
            columns.Add(p => p.Condicion).Titled("Condición").Css("col-codigo"); ;
            @* columns.Add(p => p.NroRequerimiento).Titled("Nro requerimiento"); *@
            columns.Add(p => p.AreaRequerimiento).Titled("Área requerimiento");

            columns.Add(p =>
            $"<a class='text-info me-2' href='{Url.Action("Details", controller, new { id = p.ProductoId })}' title='Detalles'><i class='bi bi-eye-fill'></i></a>" +
            $"<a class='text-warning me-2' href='{Url.Action("Edit", controller, new { id = p.ProductoId })}' title='Editar'><i class='bi bi-pencil-fill'></i></a>" +
            $"<a class='text-danger' href='{Url.Action("Delete", controller, new { id = p.ProductoId })}' title='Eliminar' onclick=\"return confirm('¿Realmente desea eliminar este producto?');\"><i class='bi bi-trash3-fill'></i></a>"
            ).Titled("").Encoded(false);
        })
        .Empty("No hay datos en esta tabla.")
        .Filterable()
        .Sortable()
        .Pageable(p =>
        {
            p.PageSizes = new Dictionary<int, string> { { 0, "Todos" }, { 5, "5" }, { 10, "10" }, { 15, "15" }, { 20, "20" } };
            p.ShowPageSizes = true;
            p.RowsPerPage = 15;
        })
        )
</div>
